.board {
  position: absolute;
  overflow: hidden;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%; //?
  height: 40px;
  /* debug border 1px*/
  border: 1px solid red;
  border-radius: 8px 8px 0 0;
  z-index: 1;
  gap: 4px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 16px;
  text-align: center;
}
