.board {
  position: absolute;
  overflow: hidden;
  display: flex;
  top: auto;
  left: 0;
  width: 100%;
  max-width: none;
  height: 40px;
  box-sizing: border-box;
  /* debug border */
  border: 1px solid red;
  border-radius: 8px 8px 0 0;
  z-index: 1;
  gap: 4px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 16px;
  text-align: center;
}
