.gap-input {
  border: 1px solid rgb(102, 102, 102);
  border-radius: 3px;
  padding: 2px 4px;
  margin: 0 2px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: inherit;
  font-family: inherit;
  text-align: center;
}
